.outstandDoctor-container {
  height: 500px;
  width: 100%;
  .outstandDoctor-content {
    height: 450px;
    width: 100%;
    padding: 0 100px;

    .outstandDoctor-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;
      .outstandDoctor-title {
        font-size: 24px;
        font-weight: bold;
      }
      .outstandDoctor-button {
        float: right;
        padding: 10px 20px;
        font-size: 11px;
        border: none;
        outline: none;
        background-color: #ebebeb;
        color: #0b0b0b;
        display: block;
        &:hover {
          cursor: pointer;
          color: #fff;
          background: #f7d800;
        }
      }
    }

    .slick-slider {
      .slick-prev {
        left: 0;
        z-index: 1;
        width: 25px !important;
        height: 40px !important;
        background: #c3d3d8 !important;
        border: 2px solid #c3d3d8 !important;
      }
      .slick-next {
        right: 0;
        z-index: 1;
        width: 25px !important;
        height: 40px !important;
        background: #c3d3d8 !important;
        border: 2px solid #c3d3d8 !important;
      }
      .slick-prev:before,
      .slick-next:before {
        color: #000 !important;
      }
      margin: 5px;
      padding: 10px 5px;
      text-align: center;
      .outstandDoctor-item {
        border: 1px solid #eee;
        text-align: center;
        height: 225px;
        .outstandDoctor-img {
        
          height: 150px;
          width: 150px;
          border-radius: 50%;
          background: url("../../../assets/slick-img/bsckii-tran-minh-khuyen-doctor.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .doctor-title {
          color: #111;
          padding: 5px 0;
          font-size: 14px;
          font-family: 14px/1.5 "Montserrat", sans-serif;
          outline: none;
          &:hover {
            cursor: pointer;
            color: #f7d800;
          }
        }
        .spec-title {
          color: #111;
          font-size: 12px;
          font-family: "Montserrat";
          outline: none;
        }
      }
    }
  }
}
